@charset "UTF-8";
/* Змінні */
:root {
  --primary-text-color: #212121;
  --accent-color: #2196F3;
  --secondary-text-color: #757575;
  --primary-background-color: #2F303A;
  --secondary-background-color: #F5F4FA;
  --primary-color-white: #FFFFFF;
  --accent-background: #188CE8;
  --border-heder-color: #ECECEC;
  --border-portfolio: #EEEEEE;
  --primary-icon-color: #AFB1B8;
  --primary-footer-contacts: rgba(255, 255, 255, 0.6);
  --hero-background-color: #C4C4C4;
  --backgroun-color-icon: rgba(255, 255, 255, 0.1);
  --primary-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Основні */
.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primary-color-white);
  color: var(--primary-text-color);
}

section {
  padding-top: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Хедер */
.header {
  border-bottom: 1px solid var(--border-heder-color);
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 93px;
}
.header__logo--decor {
  color: var(--primary-text-color);
}

.header__list,
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list :not(:last-child) {
  margin-right: 50px;
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__list .current {
  color: var(--accent-color);
}

.header__item {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--primary-cubic);
  transition: color 250ms var(--primary-cubic);
}
.header__item:hover, .header__item:focus {
  color: var(--accent-color);
}

.header__contacts {
  margin-left: auto;
  gap: 30px;
}
.header__contacts :hover, .header__contacts:focus {
  color: var(--accent-color);
}

.header__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--primary-cubic);
  transition: color 250ms var(--primary-cubic);
}
.header__contacts-link:hover svg, .header__contacts-link:focus svg {
  fill: var(--accent-color);
}

.header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms var(--primary-cubic);
  transition: fill 250ms var(--primary-cubic);
}

/* Банер */
.hero {
  text-align: center;
  padding: 200px 0;
  background-color: var(--hero-background-color);
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/baner.png");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/baner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  text-align: center;
  margin: 0 auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-color-white);
  text-transform: uppercase;
}

.hero__btn {
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--primary-color-white);
  -webkit-transition: background-color 250ms var(--primary-cubic);
  transition: background-color 250ms var(--primary-cubic);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--accent-background);
}

/* Переваги */
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefits__item {
  max-width: 270px;
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__icon-wrap {
  background-color: var(--secondary-background-color);
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}

.benefits__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Роботи */
.work {
  padding-bottom: 94px;
}

.work__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__details {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-color-white);
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

/* Команда */
.team {
  padding-bottom: 94px;
  background-color: var(--secondary-background-color);
}

.team__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  max-width: 270px;
  background-color: var(--primary-color-white);
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__item-wrap {
  padding: 30px 0;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.team__follow-list {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__follow-item:not(:last-child) {
  margin-right: 10px;
}

.team__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--primary-icon-color);
  -webkit-transition: fill 250ms var(--primary-cubic), background-color 250ms var(--primary-cubic);
  transition: fill 250ms var(--primary-cubic), background-color 250ms var(--primary-cubic);
}
.team__icon:hover, .team__icon:focus {
  fill: var(--primary-color-white);
  background-color: var(--accent-color);
}

/* Клієнти */
.clients {
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  color: var(--primary-text-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  border-radius: 4px;
  border: 1px solid var(--primary-icon-color);
  fill: var(--primary-icon-color);
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border 250ms var(--primary-cubic), fill 250ms var(--primary-cubic);
  transition: border 250ms var(--primary-cubic), fill 250ms var(--primary-cubic);
}
.clients__icon:hover, .clients__icon:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* Портфоліо*/
.portfolio {
  padding-bottom: 94px;
}

.potfolio__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio__filter-btn {
  border-radius: 4px;
  padding: 6px 25px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  border-color: transparent;
  -webkit-transition: color 250ms var(--primary-cubic), background-color 250ms var(--primary-cubic), -webkit-box-shadow 250ms var(--primary-cubic);
  transition: color 250ms var(--primary-cubic), background-color 250ms var(--primary-cubic), -webkit-box-shadow 250ms var(--primary-cubic);
  transition: color 250ms var(--primary-cubic), background-color 250ms var(--primary-cubic), box-shadow 250ms var(--primary-cubic);
  transition: color 250ms var(--primary-cubic), background-color 250ms var(--primary-cubic), box-shadow 250ms var(--primary-cubic), -webkit-box-shadow 250ms var(--primary-cubic);
}
.portfolio__filter-btn:hover, .portfolio__filter-btn:focus {
  color: var(--primary-color-white);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.portfolio__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--primary-cubic);
  transition: -webkit-box-shadow 250ms var(--primary-cubic);
  transition: box-shadow 250ms var(--primary-cubic);
  transition: box-shadow 250ms var(--primary-cubic), -webkit-box-shadow 250ms var(--primary-cubic);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__details {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__details-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__details {
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-color-white);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms var(--primary-cubic);
  transition: -webkit-transform 250ms var(--primary-cubic);
  transition: transform 250ms var(--primary-cubic);
  transition: transform 250ms var(--primary-cubic), -webkit-transform 250ms var(--primary-cubic);
}

.portfolio__content {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio);
  border-top: none;
}

.portfolio__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer__logo--decor {
  color: var(--primary-color-white);
}

.footer__list :not(:last-child) {
  margin-bottom: 9px;
}

.footer__address {
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-color-white);
  -webkit-transition: color 250ms var(--primary-cubic);
  transition: color 250ms var(--primary-cubic);
}
.footer__address:hover, .footer__address:focus {
  color: var(--accent-color);
}

.footer__contacts {
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-footer-contacts);
  -webkit-transition: color 250ms var(--primary-cubic);
  transition: color 250ms var(--primary-cubic);
}
.footer__contacts:hover, .footer__contacts:focus {
  color: var(--accent-color);
}

/* Підписка */
.footer__follow {
  margin: 0 93px 0 70px;
}

.footer__follow-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color-white);
}

.footer__follow-list {
  margin-top: 20px;
  width: 206px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__follow-item:not(:last-child) {
  margin-right: 10px;
}

.footer__follow-icon {
  width: 44px;
  height: 44px;
  background-color: var(--backgroun-color-icon);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--primary-color-white);
  -webkit-transition: background-color 250ms var(--primary-cubic);
  transition: background-color 250ms var(--primary-cubic);
}
.footer__follow-icon:hover, .footer__follow-icon:focus {
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__mailing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__mailing-title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-color-white);
  margin-bottom: 20px;
}

.footer__mailing-input {
  background-color: transparent;
  color: var(--primary-color-white);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
}

.footer__mailing-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  position: relative;
  display: inline-block;
  padding-left: 28px;
  padding-right: 62px;
}

.footer__mailing-text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-color-white);
}

.footer__mailing-icon {
  fill: var(--primary-color-white);
  position: absolute;
  right: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Бекдроп */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--primary-cubic), visibility 250ms var(--primary-cubic);
  transition: opacity 250ms var(--primary-cubic), visibility 250ms var(--primary-cubic);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__backdrop {
  width: 530px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--primary-color-white);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  background-color: var(--primary-color-white);
  border-color: rgba(0, 0, 0, 0.1);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}

.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.modal__form:focus-within svg {
  fill: var(--accent-color);
}

.modal__input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  -webkit-transition: fill 250ms var(--primary-cubic);
  transition: fill 250ms var(--primary-cubic);
}

.modal__input {
  cursor: pointer;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  -webkit-transition: border-color 250ms var(--primary-cubic);
  transition: border-color 250ms var(--primary-cubic);
}
.modal__input:focus-within {
  border-color: var(--accent-color);
}

.modal__comment {
  cursor: pointer;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding: 12px 16px;
  -webkit-transition: border-color 250ms var(--primary-cubic);
  transition: border-color 250ms var(--primary-cubic);
}
.modal__comment:focus-within {
  border-color: var(--accent-color);
}

.modal__comment:hover,
.modal__input:hover,
.modal__form:hover svg {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal__accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal__accept input:checked + label .modal__checkbox {
  border: 2px solid transparent;
  background-color: var(--accent-color);
  fill: var(--primary-color-white);
}

.modal__checkbox {
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--primary-text-color);
  width: 16px;
  height: 15px;
  border-radius: 3px;
  -webkit-transition: background-color 250ms var(--primary-cubic);
  transition: background-color 250ms var(--primary-cubic);
}

.modal__accept-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.modal__accept-link {
  margin-left: 2px;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal__submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: transparent;
  border-radius: 4px;
  color: var(--primary-color-white);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--primary-cubic);
  transition: background-color 250ms var(--primary-cubic);
}
.modal__submit-btn:hover, .modal__submit-btn:focus {
  background-color: var(--accent-background);
}/*# sourceMappingURL=main.css.map */