/* Переваги */
.benefits__list {
    padding-bottom: 60px;

    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    @media screen and (min-width: 1200px){
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0px;}
}

.benefits__item {
    max-width: 450px;

    @media screen and (min-width: 768px) {
            max-width: 354px; }

    @media screen and (min-width: 1200px){
    max-width: 270px;}
    
    &:not(:last-child) {
        @media screen and (max-width: 767px){
    margin-bottom: 30px;
        }
}
}

.benefits__icon-wrap {
    background-color: var(--secondary-background-color);
    height: 120px;
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
    border-radius: 4px;
}

.benefits__title {
    @media screen and (max-width: 767px){
        text-align: center;
    }

    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
}

.benefits__text{
line-height: 1.71;
color: var(--secondary-text-color);}