/* Змінні */
:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-text-color: #757575;
    --primary-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --primary-color-white: #FFFFFF;
    --accent-background: #188CE8;
    --border-heder-color: #ECECEC;
    --border-portfolio: #EEEEEE;
    --primary-icon-color: #AFB1B8;
    --primary-footer-contacts: rgba(255, 255, 255, 0.6);
    --hero-background-color: #C4C4C4;
    --backgroun-color-icon: rgba(255, 255, 255, 0.1);
    --primary-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

$fontFamily: 'Roboto', sans-serif;
$fontLogo: 'Raleway', sans-serif;